#root {
  width: 100%;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
}


.input-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

input {
  min-width: 500px;
}